.container {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    width: 20%;
}

.dice {
    padding: 1px;
    width: 30px;
    height: 30px;
    border: solid 1px grey;
}